@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  
  --color-primary: #0385f0;
  --color-primary-light: #0385f0;
  --color-secondary: #be123c;
  --color-surface: #ffffff;
  --color-background: #f8fafc;
  --color-text-main: #0f172a;
  --color-text-muted: #475569;
  
  --shadow-card: 0 2px 8px rgba(0,0,0,0.05);
  --shadow-nav: 0 -4px 20px rgba(0,0,0,0.03);
  
  --radius-4xl: 2.5rem;
}
